body {
    margin: 0;
    padding: 0;
}

/* header */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-one {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 150px;
}

.header-two {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    margin: 38px 150px 0 900px;
    padding: 17px 24px 17px 24px;
}

/* section one */
.banner-section {
    background-image: url(../assets/Hero-bg.png);
    position: relative;
    width: 1500px;
    height: 652px;
    top: 131px;
    margin-bottom: 20px;
}

div {
    align-items: center;
}

div .Programer-boy {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.banner-heading {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-content {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.btn-container {
    text-align: center;
    margin-bottom: 500px;
}

.btn-primary {
    padding: 21px 24px 21px 24px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: black;
    border: none;
}

/* section of content heading */


.Why {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 198px;
}

.Reason {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

/* section of content part one*/


.number-one {
    display: flex;
    justify-content: space-between;
    margin: 0 310px 0 293px;
}

.number-two {
    display: flex;
    justify-content: space-between;
    margin: 0 293px 0 310px;
}

.number-three {
    display: flex;
    justify-content: space-between;
    margin: 0 310px 0 293px;
}

.father-one {
    max-width: 477px;
}

.father-two {
    max-width: 477px;
    margin-top: 80px;
}

.father-three {
    max-width: 477px;
    margin: 80px;
}

.line-1 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.line-2 {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.button {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

/* section of content part 2 */

.beginning {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
}

.beginning-two {
    margin-left: 180px;
    margin-top: 90px;
}

.beginning-three {
    margin-top: 130px;
}

.one {
    width: 1076px;
    height: 550px;
    border-radius: 16px;
}

.line-3 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.line-4 {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

/* section of content part 3 */

#content-three {
    display: flex;
    margin-right: auto;
    margin-left: 50px;
}

.current-target {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    max-width: 344px;
    max-height: 299px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    margin: 0px 24px;
    margin-top: 48px;
}

.logo {
    width: 39.68px;
    height: 56px;
}

.language-name {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.about-language {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}

.more {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

/* content four */
.final-head {
    text-align: center;
}

.next-target {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
}

.about-target {
    color: rgb(13, 19, 33);
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

/* part two */

.final-content {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 190px;
    margin-top: 70px;
}

.tittle {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}

.final-learn-more {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
