/* header */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-one {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 150px;
}

.header-two {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    margin: 38px 150px 0 900px;
    padding: 17px 24px 17px 24px;
}

/* section one */